.big-btn {
	display: inline-block;
	position: relative;
	width: 200px;
	padding: 0.8em;
	text-align: center;
	text-decoration: none;
	color: #1B1B1B;
	background: #fff;
	border-radius: 30px;
	border:1px solid #1B1B1B;
  transition: transform ease .3s;

  & span {
    display: inline-block;
    text-decoration: none;	
    transition: transform ease .3s;
  }
  
  &:hover {
     cursor: pointer;
     text-decoration: none;

     & span{
       cursor: pointer;
       text-decoration: none;
       transform: translateX(6px);
     }
  }
}