.big-btn {
	display: inline-block;
	position: relative;
	width: 200px;
	padding: 0.8em;
	text-align: center;
	text-decoration: none;
	color: #fff;
	border-radius: 30px;
  transition: transform ease .3s;

  &.orange {
    background: linear-gradient(90deg, rgba(235,187,18,1) 0%, rgba(235,118,18,1) 77%);
  }

  &.blue {
    background: linear-gradient(90deg, #0072ff 0%, #00d4ff 100%);
  }

  &.purple {
    background: linear-gradient(90deg, rgba(213,18,235,1) 0%, rgba(63,18,235,1) 77%);
  }

  & span {
    display: inline-block;
    text-decoration: none;	
    transition: transform ease .3s;
  }
  
  &:hover {
     cursor: pointer;
     text-decoration: none;

     & span{
       cursor: pointer;
       text-decoration: none;
       transform: translateX(6px);
     }
  }
}

.circle-btn {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  text-decoration: none;
  color: #FFF;
  width: 40px;
  height: 40px;
  line-height: 20px;
  padding: 5px;
  border-radius: 50%;
  text-align: center;
  font-weight: bold;
  box-shadow: inset 0 2px 0px rgba(255, 255, 255, 0.25), inset 0 -2px 0px rgba(0, 0, 0, 0.18);
  transition: .2s;
  
  &:hover {
    box-shadow: none;
  }
}

.circle-btn-blue {
  background: #1da1f3;
  border: solid 5px #1da1f3;
}

.edit-btn {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  border-radius: 4px;
  color: #ffffff;
  background-image: linear-gradient(#6795fd 0%, #67ceff 100%);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px #5e7fca;

  &:active {
    transform: translateY(4px);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    border-bottom: none;
  }
}

.delete-btn {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  border-radius: 4px;
  color: #ffffff;
  background-image: linear-gradient(#eb1111 0%, #ff6767 100%);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px #b32a2a;

  &:active {
    transform: translateY(4px);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    border-bottom: none;
  }
}
