.chat-side {
  width: 300px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  
  &__nav {
    height: 100px;
    line-height: 100px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    padding: 0 20px;
    margin: 0 auto;

    p {
      font-weight: bold;
    }
  }

  .groups {
    height: calc(100vh - 100px);
    padding: 20px 20px 0;
    overflow: scroll;

    .group {
      border-bottom: 1px solid rgb(181, 181, 181);
      margin-bottom: 40px;

      a {
        text-decoration: none;
      }

      &__name {
        font-size: 15px;
        margin-bottom: 5px;
      }

      &__latest-message {
        font-size: 11px;
        color: #aaaaaa;
        margin-bottom: 10px;
      }
    }
  }
}