.main-wrapper {
  width: 100vw;
  margin-top: $headerHeight;

  &__inner {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }
}

.main-container {
  width: 70%;
}